.crewschedulemain{
    background: rgb(255, 255, 255);
    padding: 0px 10px 0px 10px;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
.headstyle{
    text-transform: uppercase;
    font-weight: bolder;
}
.tblheaderth{
    color: #005fb2 !important;
}
.tblheader{
    height: 3rem;
}
.headerborder{
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(3 45 96);    
}

.tablelayout{
    table-layout: fixed;
}

.tablelayout th, .tablelayout td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 12px;
    white-space: normal;
}

.avoidclicks {
    pointer-events: none;
  }

.inactive{
    /* background-color: rgb(240, 240, 245); */
    /* background-color: rgb(224, 223, 226); */
    background-color: rgb(224 223 226 / 32%);
}